.layout {
  display: grid;
  grid-template-areas: 'aside header' 'aside content';
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-in-out;

  &--open {
    grid-template-columns: 70px 1fr;
  }

  ::slotted(header) {
    grid-area: header;
  }

  .content {
    grid-area: content;
    background: $content-color;
    padding: 1.5rem 1.7rem;
  }

  ::slotted(aside) {
    grid-area: aside;
    transition: all 0.3s ease-in-out;
  }
}
