.input {
  display: block;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 400;
  font-size: 0.8125rem;
  padding: 0.5rem 0.81rem;
  box-shadow: none;

  &:focus {
    outline: none;
    border: 1px solid #80bdff;
  }
}
