$blue: #0b94f7;
$red: #ff5e6d;
$yellow: #f5a623;
$purple: #392c70;
$green: #04b76b;
$pink: #ff5e6d;

$colors: (
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "purple": $purple,
  "green": $green,
  "pink": $pink
);

$sizes: (
  "sm": "sm",
  "lg": "lg"
);

$primary: $blue;
$content-color: #f2f2f2;
$link: #212529;
